<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      ติดต่อ
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-icon name="call-outline"></ion-icon> 0955531319 <br>
  <ion-icon name="mail-unread-outline"></ion-icon> saranyapa1234t<ion-icon name="at-outline"></ion-icon>gmail.com <br>
  <ion-icon name="logo-facebook"></ion-icon> Khaw Saranya <br>
  <ion-icon name="logo-instagram"></ion-icon> db3_saranpat <br>
  <ion-icon name="logo-tiktok"></ion-icon> big_smoqe <br>
  <ion-icon name="logo-tiktok"></ion-icon> khaw_saram <br>
</ion-content>
